/* Super-minimal CSS reset of sorts. */
*, h1, h2, h3, h4, h5, h6 {
  margin: 0 ;
  padding: 0;
}

body {
  background-color: rgb(5, 57, 100);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', 'sans-serif';
}

h2 {
  color: rgba(255, 255, 255, 0.91);
  font-size: 2em;
  letter-spacing: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h6 {
  font-size: 0.75em;
  margin: 5px;
}

.clearfix {
  clear: both;
}

#content {
  background-color: rgb(18, 80, 132);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.62);
  margin: 0 auto 20px;
  padding: 20px 0;
  width: 1000px;
}

.issueRow {
  margin: 20px 0;
}

.issue {
  background-color: rgb(74, 146, 205);
  margin-bottom: 30px;
  vertical-align: top;
}

.issue:hover {
  background-color: rgb(100, 164, 216);
}

.issue > div {
  display: inline-block;
  height: 287px;
  padding: 10px;
  vertical-align: top;
}

.issueRowAuthorStatus {
  background-color: rgb(165, 196, 221);
  width: 20%;
}

.issueRowBody {
  width: 54%;
}

.issueRowTags {
  width: 20%;
}

.issueListTag {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  margin: 3px;
  padding: 1px 6px;
}

.panelThing {
  background-color: rgb(255, 255, 255, 0.75);
  box-shadow:1px 1px 3px -1px black;
  padding: 1px 10px 5px;
  text-align: center;
}

.panelThing.state.open {
  background-color: rgba(32, 147, 13, 0.49);
}

.panelThing.state.closed {
  background-color: rgb(144, 147, 168);
}

.panelThing.opened, .panelThing.tagged {
  background-color: rgb(165, 196, 221);
}

.panelThing:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panelThing:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.issueRowAuthorStatus img {
  border-radius: 1px;
  box-shadow: 1px 1px 2px 0px black;
  max-width: 100%;
}

.issueRowAuthorStatus h3 {
  color: rgba(5, 57, 100, 0.72);
  letter-spacing: 1px;
  margin: 3px;
  text-align: center;
}

.issueBody {
  font-weight: 100;
  font-size: 0.9em;
  height: 240px;
  overflow: hidden;
  white-space: pre-wrap;
  width: 100%;
}

.header-thing {
  background: rgb(104, 160, 124);
  margin: 10px 0 30px;
  padding: 20px 20px;
}

.header-thing h1 {
  color: rgba(255, 255, 255, 0.83);
  float: right;
  letter-spacing: 7px;
  text-align: center;
}

.header-thing input[type="text"] {
  float: left;
  font-family: 'Open Sans';
  font-size: 0.9em;
  font-weight: 100;
  padding: 10px;
  width: 25%;
}

.checkbox-label {
  color: rgba(0,0,0,0.6);
  float: left;
  font-weight: 100;
  padding-left: 10px;
  position: relative;
  top: 11px;
}

.checkbox-label input[type="checkbox"] {
  bottom: 3px;
  position: relative;
}

.bottom button {
  border: 0;
  border-radius: 3px;
  margin: 3px 0;
  outline: 0;
  padding: 10px;
}

.bottom button.on {
  background-color: rgb(26, 131, 26);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3) inset;
}

.bottom button.off {
  background-color: rgb(203, 216, 203);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.expandableArea {
  clear: both;
  display: none;
}

.expanded > .expandableArea {
  display: inline !important;
}

